{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  	<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
	  <dl>
		<dt>Title:
		<dd><input type=text size=20 name=title>
		<dt>Text:
		<dd><textarea name=text rows=5 cols=40></textarea>
		<dd><input type=submit value=Share>
	  </dl>
	</form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
	<li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
         {% if session.logged_in %}
		<br><a href='{{ url_for('remove_entry', entryid=entry.id) }}'>X</a>
	{% endif %}
  {% else %}
	<li><em>Unbelievable. No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
